* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --laser: conic-gradient(#fff, #adadad 10%, #d4d4d4 17%, #ffffff 29%, #b1ff85, #84ffd5, #80edff, #86b2ff, #d48cff, #ff92ce, #ff6269, #ffb263, #FEAC00, #FFCC00 35%, #ffffff 40%, #b5b5b5 45%, #ababab 48%, #eee 60%, #fff 68%, #cacaca 81%, #b1ff85, #84ffd5, #80edff, #86b2ff, #d691ff, #ff92ce, #ff6269, #ffb263, #FEAC00 85%, #fff 88%, #eee 90%, #ddd 92%, #fff)
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #666;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
sumary {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
}

ol,
ul {
  list-style: none;
}

img,
a {
  -webkit-touch-callout: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
}

:focus {
  outline: 0;
}



::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .2);
}



.author {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: rgba(255, 255, 255, .2);
  text-align: right;
  z-index: 999;
  font-size: 10px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  transition: color 1s
}

.author:hover {
  color: rgba(255, 255, 255, .5);
  transition: color .6s
}

.blurCoverBack {
  background-size: 120% auto;
  background-position: center;
  position: fixed;
  width: 120vw;
  height: 120vh;
  top: -10vh;
  left: -10vw;
  z-index: 1;
  filter: blur(20px);
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

.cdBox {
  transform: translateY(-1800px);
  position: fixed;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songInfo {
  position: absolute;
  bottom: 160px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 999;
  color: #fff;
  text-shadow: -1px -1px 3px rgba(0, 0, 0, .3);
}

.songInfo span {
  font-size: 80%;
  display: inline-block;
  margin: 0 20px;
  color: #ddd
}

.vinylBack,
.vinylStyle .cdShadow {
  background-size: 800px auto;
  width: 800px;
  height: 800px;
  position: absolute;
}

.vinylBack {
  border-radius: 50%;
  background: #000;
  mask: radial-gradient(transparent, transparent 16px, #000 19px);
}

.vinylStyle .cd {

  width: 440px;
  height: 440px;
  min-width: 440px;
  max-width: 440px;
  box-sizing: border-box;
  border: 40px solid rgba(0, 0, 0, .3);
  -webkit-mask: radial-gradient(transparent, transparent 16px, #000 19px);

}

.vinylStyle .cdLlight {
  width: 800px;
  height: 800px;
  min-width: 800px;
}

.vinylStyle .cd,
.vinylStyle .cdLlight {
  -webkit-mask: radial-gradient(transparent, transparent 16px, #000 19px);
  mask: radial-gradient(transparent, transparent 16px, #000 19px);
  z-index: 1;
}

.vinylStyle .cdLlight {
  box-shadow: none;
  background: linear-gradient(115deg, rgba(0, 0, 0, .6) 30%, transparent 50%, rgba(0, 0, 0, .6) 70%), linear-gradient(115deg, rgba(0, 0, 0, 0.4) 40%, transparent 50%, rgba(0, 0, 0, .4) 60%), repeating-radial-gradient(#000, rgba(200, 200, 200, .3) 1px, #000 3px), repeating-radial-gradient(#000, rgba(255, 255, 255, .1) 4px, #000 5px);
  background-size: 100% 100%, 100% 100%;
}

.vinylStyle .cdLlight.pause {
  animation-play-state: paused !important;
}

.cdStyle .cd {
  padding: 3px;
  mask: radial-gradient(transparent 80px, rgba(255, 255, 255, .4) 81px, #000 82px);
}

.vinylStyle .cdBox::after {
  border: none;
  width: 34px;
  height: 34px;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, .3) inset, -1px 0 0 rgba(255, 255, 255, .25), 0 0 0 rgba(255, 255, 255, .3) inset
}

.vinylStyle .cdShadow {
  background-image: none;
  box-shadow: -2px -1px 20px rgba(0, 0, 0, .8);
}

.cdBox::after {
  content: '';
  width: 72px;
  height: 72px;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5) inset;
  box-shadow: -2px 1px 15px rgba(0, 0, 0, .3) inset, -1px 0px 0px rgba(255, 255, 255, .25), 1px 0px 0px rgba(255, 255, 255, .3) inset;
  position: absolute;
  border: 35px solid rgba(255, 255, 255, .1);
  z-index: 4;
}

.blurCoverBack.loaded {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.cdSlideIn {
  animation: slideDown ease-in-out .6s forwards;
}

.cd {
  width: 500px;
  min-width: 500px;
  height: 500px;
  border-radius: 500px;
  position: absolute;
  animation: roll linear 6s infinite 1s;
  z-index: 99;

}

.vinylStyle img.cd {
  background-color: #000;
}

.cdSlideIn .cd {
  animation: roll linear 6s infinite .8s;
}

.cdLlight {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  -webkit-mask: radial-gradient(transparent, transparent 35px, rgba(255, 255, 255, .4) 37px, #000 37px);
  mask: radial-gradient(transparent 35px, rgba(255, 255, 255, .4) 37px, #000 37px);
  box-shadow: 0 0 1px rgba(255, 255, 255, .2) inset;
  background: -moz-linear-gradient(-25deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(-25deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(115deg, rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.cdShadow {
  background: var(--laser);
  width: 500px;
  height: 500px;
  border-radius: 500px;
  position: fixed;
  animation: roll linear 30s infinite reverse;
  mask: radial-gradient(transparent 70px, rgba(255, 255, 255, .4) 71px, #000 72px);
}

.pause {
  animation-play-state: paused !important;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100vh);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* @keyframes sim_trick_roll {
  0% {
    background-size: 100% 100%
  }
  50% {
    background-size: 102% 102%
  }100% {
    background-size: 100% 100%
  }
}
@-webkit-keyframes sim_trick_roll {
 0% {
    background-size: 100% 100%
  }
  50% {
    background-size: 102% 102%
  }100% {
    background-size: 100% 100%
  }
} */